* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.7em;
    color: #ffffff;
    font-size: 13px;
    margin: 0px;
}

.signup {
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #000000;
    text-align: center;
}

.center {
    text-align: center;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.l-box {
    padding: 1em;
    font-family: 'Gotham Extra Narrow Black';
    font-weight: 400;
    color: #ffffff;
}

.l-box-lrg {
    padding: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}

.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1a1a1a;
    border-radius: 5px;
    font-size: 120%;
}

.splash-container {
    background: url("/10750345_10205546662536258_5003195503056247848_o.jpg");
    background-position-y: -200px;
    z-index: 1;
    overflow: hidden;
    
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 0px; 
    /* WAS 88% HERE */
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-shadow: 0px 0px 5px rgb(224, 224, 224);
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: rgb(255, 255, 255);
    letter-spacing: 0.05em;
    font-size: 1.5rem;
}


.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 80%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: rgb(216, 216, 216);

}

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 2em 0 1em;
    font-family: 'Gotham Extra Narrow Black';
    font-size: 1.5em;
    line-height: 1.6em;
    color: #ffffff;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: #ffffff;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #ffffff;
}
    .content-subhead i {
        margin-right: -1px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #1a1a1a;
    font-weight: 300;
    font-family: 'Gotham Extra Narrow Black';
    width: 100%;
    color: #fcfcfc;
    text-align: center;
}

/* This is the class used for the footer */
.footer {
    background: #111;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.about_us {
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    color: rgb(255, 254, 254);
}
  

@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

   .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }

    .l-box-lrg {
        border: none;
    }

}

@media (min-width: 78em) {
    .splash-head {
        font-size: 300%;
    }
}







.navbar {
    width: 100%;
    background-color: whitesmoke;
    height: 50px;
    position: fixed;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    overflow: hidden;
    background-color: whitesmoke;
    height: 50px;
    
    
  }

  li {
    float: left;
    padding-left: 20px;
    padding-top: 15px;
  }
  
  /* push login button to right side of screen */
  .login {
    float: right;
    padding-right: 20px;
}

  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0px 27px;
    text-decoration: none;
    height: 26px;
    border-radius: 10px;
    font-weight: 500;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(63, 63, 63);
  }

  .active {
    background-color: #000000;
  }






/* Login page styles: */

.splash2 {
    /* splash for login page only */
    width: 44%;
    height: 77%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-shadow: 0px 0px 5px rgb(224, 224, 224);
    text-transform: uppercase;
}

.login_title {
    color: #000;
    display: block;
    font-family: "HCo Gotham XNarrow", sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .5px;
    margin-bottom: 32px;
    text-transform: uppercase;
}


.login_form {
    background-color: rgba(244, 243, 241, 0.9);
    border-bottom: 5px solid #F4C616;
    padding: 30px;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
    width: 100%;
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 1.35em;
    padding-inline-start: 1.75em;
    padding-inline-end: 1.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}

.login_label {
    color: #000;
    display: block;
    font-family: "HCo Gotham XNarrow", sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 2px;
    }

.login_input {
    border: none;
    border-bottom: 5px solid transparent;
    height: 50px;
    font-family: "open-sans-regular";
    font-size: 20px;
    text-indent: 10px;
    width: 100%;
    margin-bottom: 30px;
}

.content-wrapper {
    /* Content Wrapped Login */
    position: absolute;
    top: 88%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: rgba(204, 101, 101, 0);

  /* HERE */
}

.password {
    -webkit-text-security: disc !important;
    padding: 1px 2px;
    border: none;
    border-bottom: 5px solid transparent;
    height: 50px;
    font-family: "open-sans-regular";
    font-size: 20px;
    text-indent: 10px;
    width: 100%;
}

.password_reset {
    text-align: left;
}


/* THE BUTTON */
div.buttonContainer {
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    border-radius: 15px;
}

div.buttonContainer2 {
    padding-top: 0px;
    padding-bottom: 15px;
    align-items: center;
    border-radius: 15px;
}

div.buttonContainer button {
    align-items: center;
    background-color: #000;
    border: 2px solid transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 44px;
    justify-content: center;
    letter-spacing: 1px;
    margin: 0 auto;
    min-width: 123px;
    padding: 0 24px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    width: fit-content;
}

div.buttonContainer2 button {
    align-items: center;
    background-color: #000;
    border: 2px solid transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 44px;
    justify-content: center;
    letter-spacing: 1px;
    margin: 0 auto;
    min-width: 123px;
    padding: 0 24px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    width: fit-content;
}


/* password reset things */

.password_reset{
    text-align: left;
    font-size: 10px;
    color: rgb(168, 168, 168);
}

.pass_ress {
    color: rgb(255, 255, 255);
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

.resume {
        background: url("cv.png");
        height: 500px;
        width: 500px;
        display: inline-block;
}

.linkedin {
    background: url("linkedin.png");
        height: 500px;
        width: 500px;
        display: inline-block;
} 

.github {
    background: url("github.png");
        height: 500px;
        width: 500px;
        display: inline-block;
}

.email {
    background: no-repeat url("email.png");
        height: 500px;
        width: 500px;
        display: inline-block;
}

img-wrapper {
    display: grid;
    height: 100vh;
  }
   
  .img-wrapper div {
    grid-column: 1;
    grid-row: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--gray);
    transition: opacity 0.1s;
  }